[Desktop Entry]
Version=1.0
Type=Application
Name=Lomiri Dock
Comment=Docker Monitoring Dashboard
Exec=/home/apek/Desktop/lomiri-dock-monitor/venv/bin/python /home/apek/Desktop/lomiri-dock-monitor/main.py
Icon=utilities-terminal
Terminal=false
Categories=Development;
